*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__form
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

.app__button
{
  background-color: lightblue;
  color: white;
}