@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

.todo__todo
{
  height: 80%;
  width: 50%;
  border-radius: 0px;
  background-color: lightskyblue;
  margin: 20px;
}

.todo__button
{
  height: 40px;
  width: 80px;
  border-radius: 20px;
  background-color: rgb(30, 0, 99);
  color: white;
  margin: 5px;
}

.todo__date
{
  font-size: medium;
  font-family: 'Open Sans Condensed', sans-serif;
}
